.footer-container {
    position: relative;
    background-color: #fff;
    padding: 5%;
}

.para {
    word-break: break-all;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=email],
input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-us-submit-button {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-us-submit-button:hover {
    background-color: #6962CB;
}

.text {
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: row;
}

.row {
    width: 100%;
    padding: 5%;
}

.col-1 {
    flex: 1;
    justify-content: space-between;
}

.socialMediaIcons {
    padding: 15px;
    padding-left: 0px;
    padding-top: 2px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: dodgerblue;
}

.socialMediaIcons:hover {
    opacity: 0.7;
}

#instagramCSS {
    color: #c92bb7;
}

#linkedinCSS {
    color: #0077b5;
}

#whatsappCSS {
    color: #25D366;
}

#telegramCSS {
    color: #2AABEE;
}

#discordCSS {
    color: #36393f;
}

#followUsText {
    font-size: larger;
    margin-bottom: 5px;
}

#contactUsCSS {
    margin-top: 10px;
}