.pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-width: 0;
}

.pagination button.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

.pagination button:hover {
    cursor: pointer;
}

.pagination button.deactive {
    opacity: 0.5;
}

.pagination button.deactive:hover {
    cursor: not-allowed;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}